/** @format */

@media (min-width: 0em) {
  footer {
    width: 100vw;
    background: $charlestongreen;
    padding-top: $padding-lg * 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 19;
    position: relative;

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      place-items: center;
      color: white;
      width: 100%;
      grid-gap: 1rem;
      margin: auto;
      margin-bottom: $margin-md;

      .col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: max-content;
        // text-align: center;
        padding: 0 $padding-md;
        font-weight: lighter;
        width: 100%;
        text-align: center;

        p {
          color: #c9c9c9;

          &:hover {
            color: white;
          }
        }

        h2 {
          margin-bottom: $margin-md;
          font-weight: lighter;
          font-size: 16px;
          text-transform: uppercase;
          color: $primary;
        }

        ul {
          list-style: none;

          li {
            margin-bottom: $margin-sm;
            color: $text-color;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          a {
            color: #c9c9c9;
            text-decoration: none;

            &:hover {
              color: white;
            }
          }
        }

        .icon {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
          opacity: 70%;
        }

        .footer-logo {
          max-width: 50%;
        }
      }

      .logo-col {
        p {
          &:hover {
            color: #c9c9c9;
          }
        }
      }
    }

    .site-credit {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $white;
      padding: $padding-md;
      text-align: center;

      img {
        width: 4rem;
        margin-bottom: 1rem;
      }

      p {
        text-transform: uppercase;
        color: #c9c9c9;
        font-size: 14px;
      }

      a {
        color: $primary;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  footer {
    padding-top: $padding-lg;
    font-size: $font-size-sm;

    .container {
      max-width: 1100px;
      grid-template-columns: 2fr 1fr 1fr auto;

      .col {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        // text-align: center;
        padding: 0 $padding-md;
        font-weight: lighter;
        width: 100%;
        text-align: left;

        // p {
        //   color: $text-color;
        // }

        h2 {
          margin-bottom: $margin-md;
          font-weight: lighter;
          font-size: 16px;
          text-transform: uppercase;
          color: $primary;
        }

        ul {
          list-style: none;

          li {
            margin-bottom: $margin-sm;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          }

          a {
            text-decoration: none;
          }
        }

        .icon {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
          opacity: 60%;
        }

        .footer-logo {
          max-width: 60%;
        }
      }

      .logo-col {
        padding: 0;
      }

      .book-col {
        height: 100%;
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: unset;

        a {
          margin: 0;
        }
      }
    }
  }
}
