@media (min-width: 0em) {
  #about-us {
    width: 100vw;

    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: $padding-md;
      text-align: center;
      max-width: 800px;
      margin: auto;

      h2 {
        margin-bottom: $margin-md;
      }

      .line {
        width: 150px;
        height: 2px;
        background-color: $darker-primary;
        margin-bottom: $margin-md;
      }

      p {
        color: $text-color;
      }
    }

    .container {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-rows: auto auto;
      padding: $padding-md;
      grid-gap: 1rem;

      .content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        h3 {
          font-size: $font-size-base * 1.5;
          margin-bottom: $margin-md;
          position: relative;
          letter-spacing: 2px;

          &::before {
            content: '';
            width: 100%;
            height: 2px;
            bottom: 0;
            background-color: $primary;
            position: absolute;
          }
        }

        p {
          font-size: $font-size-sm;
          margin-bottom: $margin-md;
          line-height: 1.5;
        }
      }

      .grid {
        width: 100%;
        min-height: 516px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        place-items: center;

        .col {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-gap: 1rem;
          height: 90%;
          width: 100%;

          .item {
            box-shadow: $box-shadow;
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .col-1 {
          align-self: start;
        }

        .col-2 {
          align-self: end;
        }
      }
    }
  }
}

@media(min-width: 768px) {
  #about-us {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      height: 100%;

      .content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        h3 {
          font-size: $font-size-base * 1.5;
          margin-bottom: $margin-md;
          position: relative;
          letter-spacing: 2px;

          &::before {
            content: '';
            width: 100%;
            height: 2px;
            bottom: 0;
            background-color: $primary;
            position: absolute;
          }
        }

        p {
          font-size: $font-size-sm;
          margin-bottom: $margin-md;
          line-height: 1.5;
        }
      }

      .grid {
        width: 100%;
        height: 100%;
        min-height: unset;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        place-items: center;

        .col {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-gap: 1rem;
          height: 90%;
          width: 100%;

          .item {
            box-shadow: $box-shadow;
            width: 100%;
            // height: 100%;
            max-height: 350px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .col-1 {
          align-self: start;
        }

        .col-2 {
          align-self: end;
        }
      }
    }
  }
}
@media(min-width: 768px) {
  #about-us {
    padding: 2rem 0;
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      height: 100%;

      .content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        h3 {
          font-size: $font-size-base * 1.5;
          margin-bottom: $margin-md;
          position: relative;
          letter-spacing: 2px;

          &::before {
            content: '';
            width: 100%;
            height: 2px;
            bottom: 0;
            background-color: $primary;
            position: absolute;
          }
        }

        p {
          font-size: $font-size-sm;
          margin-bottom: $margin-md;
          line-height: 1.5;
        }
      }

      .grid {
        width: 100%;
        height: 100%;
        min-height: unset;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        place-items: center;

        .col {
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-gap: 1rem;
          height: 90%;
          width: 100%;

          .item {
            box-shadow: $box-shadow;
            width: 100%;
            // height: 100%;
            max-height: 350px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .col-1 {
          align-self: start;
        }

        .col-2 {
          align-self: end;
        }
      }
    }
  }
}