/** @format */

@media all and (min-width: 0px) {
  #landing {
    width: 100vw;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .swiper-container {
      height: 100%;
      width: 100vw;
      position: absolute;
      z-index: 1;

      .swiper-wrapper {
        display: flex;
        width: 100%;
        position: relative;

        .swiper-slide {
          display: flex;
        }

        .swiper-1 {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/images/content/TFA_0285.jpg) center 10% / cover;
        }

        .swiper-2 {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/images/conttonbro-leatherbarberchair.jpg) center / cover;
        }

        .swiper-3 {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/images/louisse-lemuel-enad-Iz1d9ZeRJkI-unsplash.jpg) center /
              cover;
        }
      }

      .swiper-heading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        // margin-top: 100%;

        h1 {
          color: white;
          margin-bottom: $margin-sm;
          text-transform: uppercase;
        }

        p {
          color: white;
          margin-bottom: $margin-md;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: max-content;
          color: black;
        }
      }

      // .swiper-slide-active {
      //   .swiper-heading {
      //     width: 100%;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     flex-direction: column;
      //     text-align: center;

      //     h1 {
      //       color: white;
      //       margin-bottom: $margin-sm;
      //       opacity: 0;
      //       animation: fadeDown 1s ease-in-out forwards;
      //       animation-delay: 0.4s;
      //       text-transform: uppercase;
      //     }

      //     p {
      //       color: white;
      //       margin-bottom: $margin-md;
      //       opacity: 0;
      //       animation: fadeDown 1s ease-in-out forwards;
      //       animation-delay: 0.8s;
      //     }

      //     a {
      //       display: flex;
      //       justify-content: center;
      //       align-items: center;
      //       width: max-content;
      //       opacity: 0;
      //       animation: fadeDown 1s ease-in-out forwards;
      //       animation-delay: 1.2s;
      //       color: black;
      //     }
      //   }
      // }

      .swiper-pagination-landing {
        z-index: 4;
        position: absolute;
        bottom: -0.5rem;
        left: 50%;
        width: max-content;
        transform: translate(-50%, -50%);
        transform-origin: center;
      }
    }

    .landing-grid {
      position: absolute;
      bottom: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      z-index: 10;

      .item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        min-height: 100px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 1rem;

        h5 {
          color: $primary;
          font-size: $font-size-base * 0.8;
          margin-bottom: $margin-md;
          text-transform: uppercase;
        }

        p {
          color: white;
          display: none;
        }

        img {
          width: 1.5rem;
        }

        button {
          background-color: transparent;
          border: 0;
        }
      }
    }
  }

  #intro {
    width: 100vw;
    background-color: $white-smoke;

    .container {
      width: 100%;
      padding: $padding-lg 0.5rem;
      max-width: 1200px;
      display: grid;
      margin: auto;
      grid-gap: 2rem;
      grid-template-rows: 1fr 1fr;

      .graphics {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
        order: 2;

        & > div {
          img {
            width: 100%;
            height: 100%;
            height: 350px;
            object-fit: cover;
            box-shadow: $box-shadow;
          }
        }
      }

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 $padding-md;

        h2 {
          margin-bottom: $margin-md;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: $darker-primary;
          margin-bottom: $margin-md;
        }

        p:nth-of-type(1) {
          margin-bottom: $margin-md;
        }

        p:nth-of-type(2) {
          color: $text-color;
          margin-bottom: $margin-md;
        }

        a {
          margin: 0;
        }
      }
    }
  }

  #master-barbers {
    width: 100%;
    background-color: $white-smoke;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding-bottom: $padding-lg;

      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: $padding-lg $padding-md;
        text-align: center;
        max-width: 800px;

        h2 {
          margin-bottom: $margin-md;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: $darker-primary;
          margin-bottom: $margin-md;
        }

        p {
          color: $text-color;
        }
      }

      .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 1rem;
        padding: $padding-md $padding-sm;
        place-items: center;

        .item {
          display: grid;
          grid-template-rows: 1fr max-content;
          width: 100%;
          max-width: 400px;
          box-shadow: $box-shadow;

          .head {
            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .item-body {
            padding: $padding-md;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            background-color: white;

            h4 {
              font-size: $font-size-base * 1.3;
            }

            p {
              text-align: center;
              margin-bottom: $margin-md;
              font-size: $font-size-sm;
              color: #a4a4a4;
            }

            a {
              margin: 0;
            }
          }
        }
      }
    }
  }

  #masonry-gallery {
    width: 100vw;
    background: $white-smoke;
    padding-bottom: $padding-lg;

    .container {
      margin: auto;

      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: $padding-lg $padding-md;
        text-align: center;
        margin: auto;
        max-width: 800px;

        h2 {
          margin-bottom: $margin-md;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: $darker-primary;
          margin-bottom: $margin-md;
        }

        p {
          color: $text-color;
        }
      }

      .masonry {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-bottom: $margin-lg;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 0.5rem;
        padding: 0 0.5rem;

        .col {
          display: grid;
          place-items: start;
          grid-gap: 0.5rem;
          width: 100%;
          height: max-content;

          img {
            align-self: start;
            width: 100%;
            //  height: 100%;
            object-fit: cover;
            transition: 500ms;

            // &:hover {
            //   transform: scale(1.05);
            //   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            //     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            //     rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            //   cursor: pointer;
            // }
          }
        }
      }
    }

    .gallery-modal {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: opacityIn 0.3s ease-in;
      display: none;

      .container {
        position: relative;
        padding: $padding-lg;

        .close-gal-modal {
          position: absolute;
          right: 0.5rem;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            position: relative;
            cursor: pointer;
            width: 20px;
            height: 2px;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: white;
              position: absolute;
              top: 0;
              left: 0;
              transform: rotate(45deg);
            }

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              background-color: white;
              position: absolute;
              top: 0;
              left: 0;
              transform: rotate(-45deg);
            }
          }
        }

        img {
          width: 100%;
          height: 100%;
          max-height: 500px;
          max-width: 450px;
        }
      }
    }
  }

  #test {
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(/images/content/TFA_0130.jpg) center / cover;

    .container {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: $padding-lg $padding-md;

      .heading {
        padding: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
          margin-bottom: $margin-md;
          color: white;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: $darker-primary;
          margin-bottom: $margin-md;
        }
      }

      .test {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: $margin-lg;
        position: relative;
        z-index: 2;

        &::before {
          content: "";
          width: 130px;
          height: 130px;
          position: absolute;
          background-image: url(/images/quotation-mark.svg);
          background-position: center;
          background-size: cover;
          z-index: -1;
          top: 30%;
          left: 15%;
          opacity: 5%;
        }

        .test-context {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          line-height: 1.5;
          margin-bottom: $margin-md;

          blockquote {
            color: $text-color;
          }

          & blockquote::before {
            content: "\201C";
          }

          & blockquote::after {
            content: "\201C";
          }

          .star-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $margin-md;

            img {
              width: 2rem;
              margin-right: 0.2rem;
            }
          }
        }

        .client-info {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: white;

          & img {
            width: 4em;
            border-radius: 50%;
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #intro {
    width: 100vw;

    .container {
      width: 100%;
      padding: $padding-lg 0.5rem;
      max-width: 1200px;
      display: grid;
      margin: auto;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .graphics {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;

        & > div {
          img {
            width: 100%;
            height: 100%;
            height: 350px;
            object-fit: cover;
          }
        }
      }

      .text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        padding: 0 $padding-md;
        order: 2;

        h2 {
          margin-bottom: $margin-md;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: $darker-primary;
          margin-bottom: $margin-md;
        }

        p:nth-of-type(1) {
          margin-bottom: $margin-md;
        }

        p:nth-of-type(2) {
          color: $text-color;
          margin-bottom: $margin-md;
        }

        a {
          margin: 0;
        }
      }
    }
  }

  #test {
    .container {
      .test-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  #landing {
    .swiper-container {
      .swiper-wrapper {
        .swiper-1 {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/images/content/landscape0278.png) center / cover;
        }

        .swiper-2 {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/images/conttonbro-leatherbarberchair.jpg);
          background-position: center;
          background-size: cover;
        }

        .swiper-3 {
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/images/louisse-lemuel-enad-Iz1d9ZeRJkI-unsplash.jpg);
          background-size: cover;
          background-position: center;
        }
      }
    }

    .landing-grid {
      position: absolute;
      bottom: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      z-index: 10;

      .item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        min-height: 150px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 1rem;

        h5 {
          color: $primary;
          font-size: $font-size-base * 0.9;
          margin-bottom: $margin-md;
          text-transform: uppercase;
        }

        p {
          color: white;
          display: block;
          font-size: $font-size-base * 0.8;
        }

        img {
          display: none;
        }
      }
    }
  }

  #intro {
    width: 100vw;

    .container {
      width: 100%;
      padding: $padding-lg 0.5rem;
      max-width: 1200px;
      display: grid;
      margin: auto;
      grid-gap: 0rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .graphics {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;

        & > div {
          img {
            width: 100%;
            height: 100%;
            height: 450px;
            object-fit: cover;
          }
        }
      }

      .text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        padding: 0 $padding-md;

        h2 {
          margin-bottom: $margin-md;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: $darker-primary;
          margin-bottom: $margin-md;
        }

        p:nth-of-type(1) {
          margin-bottom: $margin-md;
        }

        p:nth-of-type(2) {
          color: $text-color;
          margin-bottom: $margin-md;
        }

        a {
          margin: 0;
        }
      }
    }
  }

  #masonry-gallery {
    .container {
      .masonry {
        .col {
          img {
            &:hover {
              transform: scale(1.05);
              box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
              cursor: pointer;
            }
          }
        }
      }
    }

    .gallery-modal {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: opacityIn 0.3s ease-in;
      display: none;

      .container {
        position: relative;
        padding: $padding-lg;

        .close-gal-modal {
          position: absolute;
          right: 0.5rem;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            position: relative;
            cursor: pointer;
            width: 20px;
            height: 2px;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: white;
              position: absolute;
              top: 0;
              left: 0;
              transform: rotate(45deg);
            }

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              background-color: white;
              position: absolute;
              top: 0;
              left: 0;
              transform: rotate(-45deg);
            }
          }
        }

        img {
          width: 100%;
          height: 100%;
          max-height: 500px;
          max-width: 450px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #test {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(/images/content/landscape0278.png) center / cover;

    .container {
      padding: $padding-lg 0;

      .test-grid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
      }
    }
  }

  #intro {
    width: 100vw;

    .container {
      width: 100%;
      padding: $padding-lg 0.5rem;
      max-width: 1200px;
      display: grid;
      margin: auto;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .graphics {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;

        & > div {
          img {
            width: 100%;
            height: 100%;
            height: 450px;
            object-fit: cover;
          }
        }
      }

      .text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        padding: 0 $padding-md;

        h2 {
          margin-bottom: $margin-md;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: $darker-primary;
          margin-bottom: $margin-md;
        }

        p:nth-of-type(1) {
          margin-bottom: $margin-md;
        }

        p:nth-of-type(2) {
          color: $text-color;
          margin-bottom: $margin-md;
        }

        a {
          margin: 0;
        }
      }
    }
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.schedule-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  animation: fadeInUp 0.2s ease-in;
  display: none;
  padding: $padding-md;

  .table {
    width: 100%;
    max-width: 450px;
    padding: $padding-lg $padding-md;
    position: relative;
    border-radius: 0.5rem;
    background-color: white;

    .close-sch-modal {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        width: 30px;
        height: 2px;
        position: relative;

        &::before {
          width: 100%;
          height: 100%;
          content: "";
          background-color: black;
          position: absolute;
          transform: rotate(45deg);
        }

        &::after {
          width: 100%;
          height: 100%;
          content: "";
          background-color: black;
          position: absolute;
          transform: rotate(-45deg);
        }
      }
    }

    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: $margin-md;

      h3 {
        text-transform: uppercase;
        color: $primary;
      }
    }

    ul {
      list-style: none;

      li {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-bottom: $margin-md;
      }
    }
  }
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  position: relative;
}

.modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opacityIn 100ms ease-in forwards;

  .swiper-container {
    width: 100%;
    // height: 100%;

    .swiper-wrapper {
      // width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 80%;
        }
      }
    }
  }
  .close-swiper-modal {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
      position: relative;
      width: 100%;
      height: 2px;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        transform: rotate(45deg);
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        transform: rotate(-45deg);
      }
    }
  }
  .swiper-pagination-modal {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
  }
}
