/** @format */

@media (min-width: 0px) {
  #services {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: $padding-lg $padding-md;

      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        max-width: 800px;
        margin-bottom: $margin-lg;

        h2 {
          padding-bottom: $padding-md;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: $darker-primary;
          margin-bottom: $margin-md;
        }

        p {
          color: $text-color;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 1rem;
        place-items: center;
        width: 100%;

        .item {
          display: grid;
          grid-template-rows: max-content max-content;
          box-shadow: $box-shadow;
          height: 100%;
          width: 100%;

          .head {
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .overlay {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              background: radial-gradient(
                circle,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.2) 100%
              );
            }
          }

          .item-body {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-gap: 0.5rem;
            padding: $padding-md;
            background-color: white;

            .body-top {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              h4 {
                margin-bottom: $padding-sm;
                text-transform: uppercase;
                font-size: $font-size-base * 1.3;
              }

              p {
                margin-bottom: $padding-md;
                font-size: $font-size-sm;
                text-align: center;
                color: $text-color;
              }
            }

            .dur {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: $padding-md;

              img {
                width: 1rem;
                margin-right: 0.5rem;
              }

              p {
                font-size: $font-size-sm;
              }
            }

            .body-btm {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .price {
                padding: $padding-sm;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p {
                  margin: 0;
                  color: black;
                  font-size: $font-size-sm;
                }

                span {
                  color: $darker-primary;
                }
              }
            }
          }
        }
      }
    }

    a {
      margin-bottom: 2rem;
    }
  }
}
@media (min-width: 768px) {
  #services {
    .container {
      .heading {
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        place-items: center;
        width: 100%;
      }
    }

    a {
      margin-bottom: 2rem;
    }
  }
}
@media (min-width: 1024px) {
  #services {
    padding: $padding-xl $padding-md;

    .container {
      padding: 0;
    }

    a {
      margin-top: 2rem;
    }
  }
}
