// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  z-index: 19;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 1em 1em 0;
  border-radius: 50%;
  padding: 1px;
  width: 40px;
  height: 40px;
  background: var(--standard-gold);

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    background-color: var(--standard-gold);

    svg {
      fill: #000000;
    }
  }
}

// Text meant only for screen readers.
.screen-reader-text {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000; // Above WP toolbar
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
  }
}

// Landing button
@media (min-width: 0px) {
  .button {
    border: 0;
    background-color: var(--standard-gold);
    padding: .5em 2em;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover {
      opacity: .7;
    }
  }
}

.standard-icon {
  width: 1.7em;
  height: 1.7em;
  margin: 0 0.7em;
}

.standard-social-icons {
  @include flexCenter(row);
  width: 250px;
  margin: 1em;
}

.standard-btn {
  padding: 1em 2em;
  min-width: 8em;
  text-align: center;
  text-decoration: none;
  color: black;
  border: none;
  cursor: pointer;
  background-color: var(--standard-gold);
  margin: 1em 0;
  font-size: 13px;
  font-weight: unset;

  &:hover {
    opacity: .7;
    color: #000;
  }
}
// New System / Regular Button
.btn {
    cursor: pointer;
    padding: 10px 30px;
    background-color: $primary;
    border: 0;
    color: black;
    text-decoration: none;
    margin: $margin-sm;
    border-radius: 0;
    box-shadow: $box-shadow;
    font-size: $font-size-sm;
    &:hover{
        opacity: .8;
    }
    &:active{}
}
// Button Link 
.btn-primary {
    background-color: $primary;
}
.btn-success {
    background-color: $success;
}
.btn-danger {
    background-color: $danger;
}
.btn-info {
    background-color: $info;
}
.btn-warning {
    background-color: $warning;
    color: black;
}
.btn-secondary {
    background-color: $secondary;
}
.btn-dark {
    background-color: $dark;
}
.btn-light {
    background-color: $light;
    color: black;
}