/** @format */

@media (min-width: 0px) {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/images/content/TFA_0345.jpg) 50% 65% / cover;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding-bottom: 1rem;
    width: 100vw;
    p {
      font-size: 2.1rem;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/images/content/TFA_0345.jpg) 50% 70% / cover;
    height: 17rem;
  }
}

@media (min-width: 1000px) {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/images/content/TFA_0345.jpg) 50% 60% / cover;
    height: 15rem;
  }
}
